@import "../../../styles/variables";


.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.mos-footer__container{
	max-width: 1170px;
	margin:auto;
}
.mos-footer{
	position: sticky;
	background-color: $mos-primary-color;
    padding: 70px 0;
	z-index: 2;
	
}
.mos-footer__footer-col{
   width: 25%;
   padding: 0 15px;
}
.mos-footer__footer-col h4{
	font-size: 18px;
	color: $mos-white-cream-color;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.mos-footer__footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: $mos-red-border-line;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.mos-footer__footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.mos-footer__footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: $mos-white-cream-color;
	text-decoration: none;
	font-weight: 300;
	color: $mos-unselected-options;
	display: block;
	transition: all 0.3s ease;
}
.mos-footer__footer-col ul li a:hover{
	color: $mos-white-cream-color;
	padding-left: 8px;
}
.mos-footer__footer-col .mos-footer__social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: $mos-social-link-background;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: $mos-white-cream-color;
	transition: all 0.5s ease;
}
.mos-footer__footer-col .mos-footer__social-links a:hover{
	color: $mos-social-link-hover;
	background-color: $mos-white-cream-color;
}

/*responsive*/
@media(max-width: 767px){
  .mos-footer__footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .mos-footer__footer-col{
    width: 100%;
}
}