<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col" *ngFor="let category of generalLinks">
                <h4>{{category.categoryName}}</h4>
                <ul>
                    <li *ngFor="let item of category.categoryLinks">
                        <a href="#">{{item.name}}</a>
                    </li>
                </ul>
            </div>
            <!-- <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">shipping</a></li>
                    <li><a href="#">returns</a></li>
                    <li><a href="#">order status</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div> -->
            
            <div class="footer-col">
                <h4>{{contactInfo.title}}</h4>
                <div class="social-links">
                    <a *ngFor="let icons of contactInfo.buttons"><i class="{{icons.icon}}"></i></a>
                    <!-- <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a> -->
                </div>
            </div>
        </div>
    </div>
</footer>
