<mos-ui-header [links]="links" (emitElementSelected)="showElementHeaderSelected($event)">
    <div logo>
        <a class="logo-link" href="index.html">My <span>Own</span> Space</a>
    </div>
</mos-ui-header>
<mos-ui-toast #myToast></mos-ui-toast>
<mos-ui-loader #myLoader></mos-ui-loader>
<mos-ui-animated-container>
    <div content>

        <button mosUiButton class="mos-button-secondary" (click)="openModal()">Modal</button>
        <button mosUiButton class="mos-button-primary" (click)="showLoader()">Loader</button>
        <button mosUiButton class="mos-button-primary" (click)="showToast()">Toast</button>

        <input mosUiInput type="text">
        <input mosUiInput type="number">
        <input mosUiInput type="date">
        <select mosUiInput name="" id="">
            <option value="">hola</option>
            <option value="">hola2</option>
        </select>


        <mos-ui-contact-card [contactInfo]="contactCard" (emitAction)="contactAction($event)"></mos-ui-contact-card>

        <mos-ui-profile-image-upload (emitImageData)="getImage($event)"></mos-ui-profile-image-upload>


        <mos-ui-table [tableHeaders]="tableHeader" [tableOptions]="tableOptions" [items]="tableItems" (emitElementSelected)="optionTableSelected($event)"></mos-ui-table>

        <div class="mos-container-card">
            <h3>hola</h3>
        </div>

        <mos-ui-note [noteData]="noteData" (saveAction)="onSaveNote($event)" (deleteAction)="onDeleteNote($event)"
            [isEditing]="true">

        </mos-ui-note>

        <mos-ui-login [resetForms]="resetForm" (emitRegisterData)="showRegisterData($event)" (emitLoginData)="showLoginData($event)" (emitResetPassword)="userWantsResetPassword($event)">
        </mos-ui-login>

        <button mosUiButton class="mos-button-secondary" (click)="resetLoginForm()">Reset</button>
    </div>
</mos-ui-animated-container>

<mos-ui-footer [generalLinks]="generalLinks" [contactInfo]="iconsInfo" (emitLinkSelected)="getLinkSelected($event)"
    (emitIconSelected)="getIconSelected($event)">
</mos-ui-footer>

<mos-ui-modal #myModal (emitAcceptButton)="acceptButtonModal($event)">
    <div modalContent>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur fugiat dolorem asperiores enim nesciunt
            aliquid at harum quae nemo pariatur doloremque, dolorum unde hic reiciendis placeat animi autem. Eveniet,
            veritatis.</p>
    </div>
</mos-ui-modal>