
$mos-white-color: white;
$mos-white-cream-color: #f1f1f1;
$mos-primary-color: #20123A;
$mos-secondary-color: #693BCC;
$mos-border-color: #9f9f9f;
$mos-box-shadow: 0px 0px 4px 0px $mos-primary-color;
$mos-red-border-line: #e91e63;
$mos-unselected-options: #bbbbbb;
$mos-social-link-background: rgba(255,255,255,0.2);
$mos-social-link-hover: #24262b

//#693BCC
//#20123A
//#CB1F9C
//#F35F1C