
$mos-white-color: white;
$mos-white-cream-color: #f1f1f1;
$mos-primary-color: #20123A;
$mos-secondary-color: #693BCC;
$mos-tertiary-color: #CB1F9C;
$mos-border-color: #9f9f9f;
$mos-box-shadow: 0px 0px 4px 0px $mos-primary-color;
$mos-red-border-line: #e91e63;
$mos-unselected-options: #bbbbbb;
$mos-social-link-background: rgba(255,255,255,0.2);
$mos-social-link-hover: #24262b;
$mos-error-red-color: #d73131;

//Login Styles
$mos-gradient-background: linear-gradient(175deg, rgba(32,18,58,1) 37%, rgba(105,59,204,1) 82%);
$mos-login-shadow: 5px 20px 50px #000;

//Loader Styles
$mos-loader-background-color: #11131ec2;
$mos-secondary-loader-color: #FF3D00;


//#693BCC
//#20123A
//#CB1F9C
//#F35F1C